In [7]:
# import libs
import pandas as pd
import numpy as np

# Creating Objects

create series

In [3]:
s = pd.Series([1,3,5, np.nan, 6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

creating DataFrame from numpy data, custom index and columns

In [8]:
dates = pd.date_range("20220107", periods=6)
dates

DatetimeIndex(['2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
               '2022-01-11', '2022-01-12'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-01-07 -0.123165 -0.602296  1.438235  0.859423
2022-01-08 -0.226172 -0.255363 -0.033182 -1.381442
2022-01-09  0.253757 -0.447420 -2.681719 -1.199711
2022-01-10  0.982561  1.119513  0.744895  0.609707
2022-01-11  0.028204  0.754159 -0.235077 -0.266806
2022-01-12 -0.393783  0.119368  0.750741 -0.573070

creating DataFrame from Dictionary

In [10]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220107"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3]*4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2022-01-07  1.0  3   test  foo
1  1.0 2022-01-07  1.0  3  train  foo
2  1.0 2022-01-07  1.0  3   test  foo
3  1.0 2022-01-07  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## Viewing Data

In [18]:
df.head(2)

                   A         B         C         D
2022-01-07 -0.123165 -0.602296  1.438235  0.859423
2022-01-08 -0.226172 -0.255363 -0.033182 -1.381442

In [19]:
df.tail(3)

                   A         B         C         D
2022-01-10  0.982561  1.119513  0.744895  0.609707
2022-01-11  0.028204  0.754159 -0.235077 -0.266806
2022-01-12 -0.393783  0.119368  0.750741 -0.573070

In [20]:
df.index

DatetimeIndex(['2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
               '2022-01-11', '2022-01-12'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [23]:
df.to_numpy()

array([[-0.123165  , -0.60229576,  1.43823487,  0.85942263],
       [-0.22617171, -0.25536268, -0.03318159, -1.38144238],
       [ 0.25375687, -0.44741976, -2.68171942, -1.19971087],
       [ 0.98256106,  1.11951341,  0.7448952 ,  0.60970655],
       [ 0.02820405,  0.75415921, -0.23507674, -0.26680626],
       [-0.39378335,  0.11936821,  0.75074122, -0.57306996]])

In [24]:
df2.to_numpy()

array([[1.0, Timestamp('2022-01-07 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-01-07 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2022-01-07 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-01-07 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [25]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [26]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.086900  0.114660 -0.002684 -0.325317
std    0.491262  0.690737  1.444641  0.918983
min   -0.393783 -0.602296 -2.681719 -1.381442
25%   -0.200420 -0.399405 -0.184603 -1.043051
50%   -0.047480 -0.067997  0.355857 -0.419938
75%    0.197369  0.595461  0.749280  0.390578
max    0.982561  1.119513  1.438235  0.859423

In [27]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-01-07 00:00:00,2022-01-07 00:00:00,2022-01-07 00:00:00,2022-01-07 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [28]:
df.T

   2022-01-07  2022-01-08  2022-01-09  2022-01-10  2022-01-11  2022-01-12
A   -0.123165   -0.226172    0.253757    0.982561    0.028204   -0.393783
B   -0.602296   -0.255363   -0.447420    1.119513    0.754159    0.119368
C    1.438235   -0.033182   -2.681719    0.744895   -0.235077    0.750741
D    0.859423   -1.381442   -1.199711    0.609707   -0.266806   -0.573070

In [29]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2022-01-07  0.859423  1.438235 -0.602296 -0.123165
2022-01-08 -1.381442 -0.033182 -0.255363 -0.226172
2022-01-09 -1.199711 -2.681719 -0.447420  0.253757
2022-01-10  0.609707  0.744895  1.119513  0.982561
2022-01-11 -0.266806 -0.235077  0.754159  0.028204
2022-01-12 -0.573070  0.750741  0.119368 -0.393783

In [30]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2022-01-12 -0.393783  0.119368  0.750741 -0.573070
2022-01-11  0.028204  0.754159 -0.235077 -0.266806
2022-01-10  0.982561  1.119513  0.744895  0.609707
2022-01-09  0.253757 -0.447420 -2.681719 -1.199711
2022-01-08 -0.226172 -0.255363 -0.033182 -1.381442
2022-01-07 -0.123165 -0.602296  1.438235  0.859423

In [31]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2022-01-07  0.859423  1.438235 -0.602296 -0.123165
2022-01-08 -1.381442 -0.033182 -0.255363 -0.226172
2022-01-09 -1.199711 -2.681719 -0.447420  0.253757
2022-01-10  0.609707  0.744895  1.119513  0.982561
2022-01-11 -0.266806 -0.235077  0.754159  0.028204
2022-01-12 -0.573070  0.750741  0.119368 -0.393783

In [32]:
df.sort_values(by='B')

                   A         B         C         D
2022-01-07 -0.123165 -0.602296  1.438235  0.859423
2022-01-09  0.253757 -0.447420 -2.681719 -1.199711
2022-01-08 -0.226172 -0.255363 -0.033182 -1.381442
2022-01-12 -0.393783  0.119368  0.750741 -0.573070
2022-01-11  0.028204  0.754159 -0.235077 -0.266806
2022-01-10  0.982561  1.119513  0.744895  0.609707